<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'head.html' %}
      <title>Create Collaboration</title>
   </head>
   <body>
      {% include 'nav.html' %}
      <div class="hero">
         <div class="hero-overlay"></div>
         <div class="hero-content">
            <div class="container">
               <form method="POST" class="create_collab">
                  {% csrf_token %}
                  <h2>Create Collaboration</h2>
                  <p class="text_log">Quickly Start a Collaboration</p>
                  <div class="form-group">
                     <label for="email">Collab ID</label>
                     <input type="number" class="form-control collab_" name="collab_id" id="collab_id" placeholder="Enter Collab ID" required>
                  </div>
                  <br>
                  <div class="form-group">
                     <label for="password">Password</label>
                     <input type="password" class="form-control pass_" name="password" placeholder="Password" required>
                  </div>
                  <br>
                  <div class="noti_"></div>
                  <br>
                  <button type="submit" class="btn btn-primary btn-block ">Submit</button>
               </form>
            </div>
         </div>
      </div>
      <script>
         window.onload = function() {
         function generateRandomCollabId() {
             const randomId = Math.floor(1000000000 + Math.random() * 9000000000);
             return randomId;
         }
         
         document.getElementById('collab_id').value = generateRandomCollabId();
         };
         
      </script>
 {% include 'footer.html' %}
</body>
</html>