<html lang="en">
   <head>
      {% include 'head.html' %}
      <title>Collaborate - {{collab_id}}</title>
      <style>
        .canvas-container{
            background-color: #fff;
        }
      </style>
   </head>
   <body>
      <canvas id="canvas" style="position: relative;" height="600" width="700"></canvas>
      <div class="tools">
      <div title="square"><i class="fi fi-sr-square"></i></div>
      <div title="circle"><i class="fi fi-sr-circle"></i></div>
      <div title="triangle"><i class="fi fi-sr-triangle"></i></div>
      <div title="pencil"><i class="fi fi-sr-pen-swirl"></i></div>
      <div title="stroke">
         <i class="fi fi-sr-line-width"></i>
         <div class="lines" style="display: none;">
            <div style="border:1px solid #000;" title="1">1px</div>
            <div style="border:1px solid #000;" title="2">2px</div>
            <div style="border:1px solid #000;" title="3">3px</div>
            <div style="border:1px solid #000;" title="4">4px</div>
            <div style="border:1px solid #000;" title="5">5px</div>
         </div>
      </div>
      <div title="font"><i class="fi fi-sr-text"></i></div>
      <div title="fill" style="position: relative;">
         <i class="fi fi-sr-palette"></i>
         <div class="colors" style="display: none;">
            <div style="background-color: #582B11;" title="#582B11"></div>
            <div style="background-color: #AF125A;" title="#AF125A"></div>
            <div style="background-color: #4F6D7A;" title="#4F6D7A"></div>
            <div style="background-color: #DD6E42;" title="#DD6E42"></div>
            <div style="background-color: #379634;" title="#379634"></div>
            <div style="background-color: #201E1F;" title="#201E1F"></div>
            <div style="background-color: #a8d0e6;" title="#a8d0e6"></div>
            <div style="background-color: #FF4000;" title="#FF4000"></div>
            <div style="background-color: #50B2C0;" title="#50B2C0"></div>
            <div style="background-color: #ffffff;" title="#DCED31"></div>
            <div style="background-color: #0CCE6B;" title="#0CCE6B"></div>
            <div style="background-color: #363537;" title="#363537"></div>
            <div style="background-color: #2E5077;" title="#2E5077"></div>
            <div style="background-color: #000000;" title="#000000"></div>
            <div style="background-color: #FFE347;" title="#FFE347"></div>
            <div style="background-color: #6457A6;" title="#6457A6"></div>
         </div>
      </div>
      <div title="delete"><i class="fi fi-sr-trash"></i></div>
      </div>
      <p class="fill" hidden>#ffffff</p>
      <p class="stroke" hidden>#000000</p>
      <p class="stroke_" hidden>1</p>
      <p class="sender">{{sender}}</p>
      <p class="collab_id">{{collab_id}}</p>
      <script>


        const collab_id=$(".collab_id").text();
        const sender=$(".sender").text();
   if(sender=="False"){
      alert("You are not logged in!");
      window.location.href=window.location.protocol+"//"+window.location.host+'/auth/login';
      
   }if(collab_id=="False"){
      alert("Please Provide Collab ID and Password to join!");
      window.location.href=window.location.protocol+"//"+window.location.host+'/collab/check';
     
   }




        var ws = 'ws://';
        if(window.location.protocol=="https:"){ ws = 'wss://'; }
         const v=ws + window.location.host + '/ws/chat/';
         const chatSocket = new WebSocket(v);
         const localVideo = document.getElementById('localVideo');
         const remoteVideo = document.getElementById('remoteVideo');
         const messages = document.getElementById('messages');
 
         const configuration = { iceServers: [{ urls: 'stun:stun.l.google.com:19302' }] };
         const peerConnection = new RTCPeerConnection(configuration);
 
         
         chatSocket.onmessage = function(e) {
            
            
             const data = JSON.parse(e.data);
             if (data.message) {
                 if(data.message.sender==sender && data.message.collab_id==collab_id){
                    console.log("SENT DATA SUCCESSFULLY");
                    
                    
                 }
                 else{



                    
                    switch(data.message.shape){




                        case "square":
                        canvas.isDrawingMode = false;
                        var d = {
                        left: data.message.left,
                        top: data.message.top,
                        angle: data.message.angle,
                        fill: data.message.fill,
                        stroke: data.message.stroke,
                        strokeWidth: data.message.strokeWidth,
                        width: data.message.width,
                        height: data.message.height,
                        };
                        canvas.add(new fabric.Rect(d));
                        
                    break;


                    case "circle":
                        canvas.isDrawingMode = false;
                        var d = {
                        left: data.message.left,
                        top: data.message.top,
                        angle: data.message.angle,
                        fill: data.message.fill,
                        stroke: data.message.stroke,
                        strokeWidth: data.message.strokeWidth,
                        radius: data.message.radius,
                        
                        };
                        canvas.circle(new fabric.Rect(d));
                        
                    break;



                    case "triangle":
                        canvas.isDrawingMode = false;
                        var d = {
                        left: data.message.left,
                        top: data.message.top,
                        angle: data.message.angle,
                        fill: data.message.fill,
                        stroke: data.message.stroke,
                        strokeWidth: data.message.strokeWidth,
                        width: data.message.width,
                        height: data.message.height,
                        };
                        canvas.triangle(new fabric.Rect(d));
                        
                    break;





                    }






                 }
             }
             /*if (data.signal) {
                 console.log("sig");
                 if (data.signal.sdp) {
                     peerConnection.setRemoteDescription(new RTCSessionDescription(data.signal.sdp));
                 } else if (data.signal.candidate) {
                     peerConnection.addIceCandidate(new RTCIceCandidate(data.signal.candidate));
                 }
             }*/
         };
         function sendMessage(data) {
             chatSocket.send(JSON.stringify(data));
            
         }
 
         /*
         navigator.mediaDevices.getUserMedia({ video: true, audio: true }).then(stream => {
             localVideo.srcObject = stream;
             stream.getTracks().forEach(track => peerConnection.addTrack(track, stream));
         });
 
         peerConnection.onicecandidate = function(event) {
             if (event.candidate) {
                 chatSocket.send(JSON.stringify({ 'signal': { 'candidate': event.candidate } }));
             }
         };
 
         peerConnection.ontrack = function(event) {
             remoteVideo.srcObject = event.streams[0];
         };*/
     </script>
      {% include 'footer.html' %}
   </body>
</html>