<!DOCTYPE html>
<html lang="en">

<head>

  {% include 'head.html' %}
  <title>Join Collaboration</title>
</head>

<body>

  {% include 'nav.html' %}
  <div class="hero">
    <!-- Dark overlay -->
    <div class="hero-overlay"></div>
    
    <!-- Centered content -->
    <div class="hero-content">
        <div class="container">
            <!-- Basic form -->

            <form method="POST" class="enter_collab">
                {% csrf_token %}
                <h2>Join Collaboration</h2>
                <p class="text_log">Quickly Join a Collaboration</p>

      
              <!-- Email field -->
              <div class="form-group">
                <label for="email">Collab ID</label>
                <input type="number" class="form-control" name="collab_id" placeholder="Enter Collab ID" required value={{id}}>
              </div>
              <br>
              <!-- Password field -->
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" required value={{pass}}>
              </div>
      
              <!-- Submit Button -->
               
               <br>
              <button type="submit" class="btn btn-primary btn-block ">Submit</button>
            </form>
          </div>
    </div>
  </div>
  {% include 'footer.html' %}
</body>

</html>
